@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <!-- <script src="~/js/site.js"></script> -->
    <script>
        async function login() {
            let passValue = document.getElementById("pass").value;
            passValue = (new String(passValue)).trim();
            console.log(passValue);
            localStorage['password'] = passValue; // cache密码
            if (await flushToken(passValue)) {
                window.location.href = `${window.apiUrl}Home/ModManager`
            }
        }
    </script>
    <form>
        <input type="password" id="pass">
        <input type="button" id="sub" onclick="login()" value="登录" >
    </form>
</div>