@{
    ViewData["Title"] = "Mod Manager";
}
<div>
    <h1> 欢迎访问模组管理器 </h1>
    <hr>
    <h2>上传模组文件</h2>
    请输入模组名称: <input type="text" id="upFileModName">
    <input multiple accept=".dll,.so,.dylib,.pdb" type="file" id="upFiles" value="上传模组文件">
    <hr>
    <h2 id="enableModText"> 已启用模组 </h2>
    <div id="modList"></div>
    <hr>
    <h2>本地模组列表</h2>
    <div id="localModList"></div>
    <script src="/js/modManager.js"></script>
    <script>
        var upFileElement = document.getElementById('upFiles');
        upFileElement.onchange = async e => {
            var modName = document.getElementById('upFileModName').value;
            await deletemodfiles(modName);
            /**
             * @@type { FileList }
             */
            let fileList = e.srcElement.files;
            /**
             * @@type { string }
             */
            let st = await appendModFile(modName, fileList);
            if(st == "上传成功") {
                this.reloadList();
            }
            alert(st);
        };
        async function reloadList() {
            await modList();
            await localModList();
        }
        async function disableMod(modName) {
            await fetchPost(`modmanager/disablemod`, JSON.stringify({ modname: modName }));
            await reloadList();
        }
        async function reloadMod(modName) {
            await fetchPost(`modmanager/reloadmod`, JSON.stringify({ modname: modName}));
            await reloadList();
        }
        async function enableMod(modName) {
            await fetchPost(`modmanager/enablemod`, JSON.stringify({ modname: modName}));
            await reloadList();
        }
        async function modList() {
            let listElement = document.getElementById('modList');
            let modListResponse = await fetchPost(`modmanager/modlist`);
            if (modListResponse.status != 200) {
                window.location.href = `${window.apiUrl}`;
            }
            let modList = await modListResponse.json();
            let htmlValue = "";
            htmlValue += `<table>`;
            modList.forEach(mod => {
                htmlValue += `<tr> <td>`;
                htmlValue += mod;
                htmlValue += `</td> <td>`;
                htmlValue += `<input type="button" id="mod-${mod}-disable" value="禁用" onclick="disableMod('${mod}')">`;
                htmlValue += `<input type="button" id="mod-${mod}-reload" value="重启" onclick="reloadMod('${mod}')">`;
                htmlValue += `</td> <tr>`;
            });
            htmlValue += `</table>`;
            listElement.innerHTML = htmlValue;
            let textElement = document.getElementById('enableModText');
            if (modList.length <= 0){
                textElement.innerHTML = "暂无已启用模组";
            } else {
                textElement.innerHTML = "已启用模组";
            }
        }

        
        async function localModList() {
            let localListElement = document.getElementById('localModList');
            let localmodListResponse = await fetchPost(`modmanager/localMods`);
            if (localmodListResponse.status != 200) {
                window.location.href = `${window.apiUrl}`;
            }
            let localModList = await localmodListResponse.json();
            let htmlValue = "";
            htmlValue += `<table>`;
            localModList.forEach(mod => {
                htmlValue += `<tr> <td>`;
                htmlValue += mod;
                htmlValue += `</td> <td>`;
                htmlValue += `<input type="button" id="mod-${mod}-localMod" value="启用" onclick="enableMod('${mod}')">`;
                htmlValue += `</td> <tr>`;
            });
            htmlValue += `</table>`;
            localListElement.innerHTML = htmlValue;
        }
        modList();
        localModList();
    </script>
</div>